:root {
  --itemOdd: #E8D6C9;
  --itemEven: #E6BECD;
  --mainBg: #EFE7E8;
  --text: #897492;
  --hover: #b75543;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lora, sans-serif;
}
body {
  padding: 1em 0;
  /* background-color: #EFE7E8; */
  background-color: var(--text);
  color: var(--text);
}
main {
  display: grid;
  justify-content: center;
  background-color: var(--mainBg);
  /* background: linear-gradient(var(--mainBg), var(--mainBg)); */
  position: relative;
  width: 600px;
  margin: auto;
  text-align: center;
}
main > * {
  z-index: 2;
}
main img {
  position: absolute;
  z-index: 1;
  max-width: 100%;
  height: 100%;
  opacity: 0.1;
}
section {
  margin: 2em 0;
  min-width: 500px;
}
button {
  width: 6em;
  height: 2em;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
h3 {
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  padding-bottom: 1em;
  color: var(--text);
  display: inline-block;

}
.add-new {
  width: 100%;
  border-radius: 5px;
  background-color: var(--itemOdd);
  padding: 1em;
  display: grid;
  /* justify-items: center; */
  grid-template-areas:
  'header header header'
  'name name quantity'
  '. . add';
  grid-row-gap: 1em;
}
.add-new h2 {
  grid-area: header;
  text-align: left;
  padding-bottom: 0.8em;
  /* color: #C84630; */
}
.add-new input {
  width: 100%;
  height: 30px;
  background-color: var(--mainBg);
  color: var(--text);
  border-radius: 4px;
  text-indent: 6px;
  border: none;
}
.new-name {
  grid-area: name;
  margin-right: -50px;
}
.new-quantity {
  grid-area: quantity;
  justify-self: end;
}
.add-new button {
  font-weight: bold;
  grid-area: add;
  justify-self: end;
  background-color: var(--text);
  color: var(--itemOdd);
}
.add-new button:hover {
  /* background-color: var(--itemOdd); */
  /* color: var(--text); */
  box-shadow: 1px 1px var(--text);
}
.labeltrick {
  position: relative;
}
.labeltrick label {
  position: absolute;
  left: 8px;
  bottom: 6px;
  /* color: #6e757f; */
  transition: 0.5s ease all;
}
.add-new input:focus + label,
.labeltrick .label-up {
  bottom: 34px;
  font-weight: bold;
}
.labeltrick .wrong-input {
  color: var(--hover);
  bottom: 34px;
  font-weight: bold;
}

/* shopping list ---------- */
.item {
  display: grid;
  grid-template-columns: 50px 2fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  background-color: var(--itemEven);
  border-radius: 5px;
  position: relative;
  color: var(--text);
  font-size: 18px;
  padding: 2px 0;
}
.item:hover {
  font-weight: bold;
}
.item:nth-child(odd),
.item:nth-child(odd) .delete {
  background-color: var(--itemOdd);
}
.delete {
  color: var(--text);
  justify-self: end;
  border-left: solid 1px var(--text);
  border-radius: 0;
  margin: 3px 0;
  background-color: var(--itemEven);
  font-weight: 900;
}
.delete:hover {
  color: var(--hover);
}
.fakeBox {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid rgb(254, 250, 224, 0.8);
  content: "";
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
}
#shopping-list span:before {
  content: '';
  height: 8px;
  width: 4px;
  border-right: solid 2px rgb(254, 250, 224, 0.8);
  border-bottom: solid 2px rgb(254, 250, 224, 0.8);
  position: absolute;
  left: 22px;
  bottom: 14px;
  transform: rotate(45deg);
}
#shopping-list span:hover:before {
  border-right: solid 2px var(--text);
  border-bottom: solid 2px var(--text);
}
.fakeBox:hover {
  border: 2px solid var(--text);
}

/* done list ---------- */
#done_list span:before {
  content: '';
  height: 8px;
  width: 4px;
  border-right: solid 2px var(--text);
  border-bottom: solid 2px var(--text);
  position: absolute;
  left: 22px;
  bottom: 14px;
  transform: rotate(45deg);
}
#done_list .fakeBox {
  border: 2px solid var(--text);
}
#done_list .fakeBox:hover {
  border: 2px solid var(--hover);
}
#done_list span:hover:before {
  border: none;
  font-size: 14px;
  content: 'X';
  font-weight: 700;
  color: var(--hover);
  transform: none;
  position: static;
  display: block;
  margin-left: 4px;
}

/* hidden elements ---------- */
.hidden {
  display: none;
}
.toggle {
  cursor: pointer;
}
section:last-child {
  position: relative;
}
.toggle-icon {
  display: inline-block;
  content: '';
  height: 8px;
  width: 8px;
  border-right: solid 2px var(--text);
  border-bottom: solid 2px var(--text);
  margin-left: 5px;
  margin-bottom: 5px;
  transform: rotate(45deg);
  /* cursor: pointer; */
  transition: 0.1s ease-out;
}
.rotate {
  transform: rotate(225deg);
}

/* EDIT--------------- */
.item div:hover {
    border: 1px solid var(--text);
    width: 100%;
}
